.ta{
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;    
}
.ta:focus{
    outline: none;
}

.ta::-webkit-scrollbar {
    display: none;
}

.fixed{
    /* bottom:40px; */
    margin: 0 auto;
}

.right{
    align-self: flex-end;
    color: #787473;
}

#msgbox{
    overflow-y: auto;
}

#msgbox::-webkit-scrollbar {
    display: none;
}

.left{
    align-self: flex-start;
    color: #e1e0e0;
}